h2{ 
  background:rgb(245, 219, 255);
}
img {
  border-radius: 8px;
}
body{
  background:rgb(252, 255, 199);
}
div{ 
  background:rgb(204, 255, 218);
}
border {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}
